<aside class="bk-drk1 disp-col-center" >
    <section class="aside__content bk-drk2 shdw-in-D" style="background-image: url({{ asset('build/img/gen/back1.jpeg') }});">
        <figure>
            <img src="image.png" alt="Description de l'image">
            <figcaption>Légende de l'image</figcaption>
        </figure>
        <nav>
        </nav>
    </section>
</aside>