<footer id="footer" class="bk-drk2 shdw-in-D">
    <nav class="footer__nav">
        <ul class="footer__nav--list">
            <li class="nav__item"><a href="" class="butn butn-prim">About</a></li>
            <li class="nav__item"><a href="" class="butn butn-prim">Contact</a></li>
            <li class="nav__item"><a href="" class="butn butn-prim">Terms of use</a></li>
            <li class="nav__item"><a href="" class="butn butn-prim">Privacy policy</a></li>
        </ul>
    </nav>
    <div class="footer__copyright">
        Silenus © 2022 - All rights reserved
    </div>
</footer>
