<header>
    <div class="mobile__header bk-drk1 shdw-in-D pad2" style="background-image: url({{ asset('build/img/gen/back1.jpeg') }});" alt="background-image-dev-room">
        <div class="mobile__header__footer pad2 shdw-in-D">
            <div class="mobile__header__title">
                <h1 class="txt-prim-light mar0">SYMFONY</h1>
            </div>
            <nav class="up-down shdw-in-D pad1">
                <a href="#present" type="button" class="butn butn-prim"><i class="fas fa-arrow-down"></i></a>
            </nav>
        </div>
    </div>
    <div id="present" class="main__header bk-drk2">
        {% include "partials/nav.html.twig" %}
        <div class="main__header__banner shdw-in-D" style="background-image: url('{{ asset('build/img/gen/bando-developper.jpeg') }}');" alt="banner-img">
            {# <div class="myheader__logo" style="background-image: url('{{ asset('build/img/gen/symfony.png') }}');"></div> #}
        </div>
        <div class="main__header__present shdw-in-D padx2 pady3">
            <div class="main__header__present--content disp-col-center padx1 pady3 bk-shdw-dark glow">
                <h3 class="txt-prim">   Texte Prim</h3>
                <h3 class="txt-prim-active">   Texte Prim active </h3>
                <h3 class="txt-prim-dark">   Texte Prim dark</h3>
                <h3 class="txt-prim-light">   Texte Prim light</h3>
                <h3 class="txt-soft">   Texte soft</h3>
            </div>
        </div>
    </div>    
</header>


