<nav class="header__nav shdw-in-D fluidx">
    <ul class="header__nav--list">
        <li class="nav__item"><a href="" class="butn butn-prim">SYMFONY</a></li>
        <li class="nav__item"><a href="" class="butn butn-prim">CV</a></li>
        <li class="nav__item"><a href="" class="butn butn-prim">BLOG</a></li>
        <li class="nav__item"><a href="" class="butn butn-prim">MENU</a></li>
        <li class="nav__item"><a href="#1" class="butn butn-prim"><i class="fas fa-arrow-down"></i></a></li>
    </ul>    
</nav>