<section id="{{ idSection }}" class="section__major bk-drk2 shdw-in-D">

        <header class="section__major__heading shdw-in-D padx1 pady2" style="background-image: url('{{ asset('build/img/gen/bando-developper.jpeg') }}');" alt="banner-img">
            <div class="section__major__title shdw-in-D">
                <h2 class="txt-prim-light mar0">{{ title }}</h2>
            </div>
            <nav class="up-down shdw-in-D pad1">
                <a href="#{{ idUp }}" type="button" class="butn butn-prim"><i class="fas fa-arrow-up"></i></a>
                <a href="#{{ idDown }}" type="button" class="butn butn-prim"><i class="fas fa-arrow-down"></i></a>
            </nav>
        </header>
        <div class="section__major__content padx1 pady3">
