{% extends 'base.html.twig' %}

{% block title %}Hello LabController!{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}

    <script>
    const MODAL_DELAY = 700;

    async function load() {

        await new Promise(resolve => setTimeout(resolve, MODAL_DELAY));
  
        openModal();
    }

    function openModal() {
        const modal = document.getElementById('popModal');
        modal.style.opacity = 1;
        modal.style.pointerEvents = 'auto';
        
        const content = document.querySelector('.modl__content');
        content.style.transform = 'translateY(0)';
    }
 
    // Exécuter la fonction après chargement de la page
    document.addEventListener('DOMContentLoaded', load);
    </script>
{% endblock %}
{% block body %}
    {% include "partials/aside.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="modal__mobile__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpeg') }}');" >
            <div>
            
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content pad1 mar1">
                   <p class="txt-prim">xgdfgfgfxbxfbxfb</p><br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                </div>
            </div>
        </div>
        
        {# <div class="modal fade" id="popModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content pad1">
                   <p class="txt-prim">xgdfgfgfxbxfbxfb</p><br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                   xgdfgfgfxbxfbxfb<br>
                </div>
            </div>
        </div> #}


    </main>

    
{% endblock %}