{% extends 'base.html.twig' %}

{% block title %}Hello LabController!{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
    {% include "partials/aside.html.twig" %}

    <main class="main__container">
    {% include "partials/header.html.twig" %}
    {# ------------------------------------------------------------ #}
    <section id="1" class="section__major bk-drk2 shdw-in-D">
        <div class=" section__major__grayLayer pad1">
            <header class="section__major__heading padx1 pady2">
                <div class="section__major__title">
                    <h2 class="txt-prim-light mar0">SYMFONY</h2>
                </div>
                <nav class="up-down">
                    <a href="#present" type="button" class="butn butn-prim"><i class="fas fa-arrow-up"></i></a>
                    <a href="#2" type="button" class="butn butn-prim"><i class="fas fa-arrow-down"></i></a>
                </nav>
            </header>
            <div class="section__major__content padx1 pady3">
            </div>
            <footer class="flex-ghost-footer">
            </footer>
        </div>
    </section>
    {# ------------------------------------------------------------ #}
    <section  class="section__minor bk-drk1 shdw-in-D pad3">
        <div class=" section__minor__content pad1">
          fdfgfgdfg
        </div>
    </section>
    {# ------------------------------------------------------------ #}
    {% include "partials/sectionMajorHeader.html.twig" 
        with {
            idSection: 1,
            title: "Ma section",
            idUp: "section1",
            idDown: "section2",
        } 
    %}
    {% include "partials/contentTest.html.twig" %}
    {% include "partials/sectionMajorfooter.html.twig" %}
    {# ------------------------------------------------------------ #}
    <section  class="section__mminor bk-drk1 shdw-in-D pad3">
        <div class=" section__major__content pad1">
          fdfgfgdfg
        </div>
    </section>
    {# ------------------------------------------------------------ #}
    {% include "partials/footer.html.twig" %}
    </main>

    
{% endblock %}
