.relative {
    position: relative;
}

.brdr-rad1 {
    border-radius: 10px;
}

.glow {
    animation: glow-animG 5s infinite;
} 

@keyframes glow-animG {
    0% {
        box-shadow: 0 0 0 0 black; 
    }
    50% {
        box-shadow: 0 0 10px 1px var(--succ); 
    }
    100% {
        box-shadow: 0 0 0 0 black;
    }
}

// @keyframes glow-animG {
//     0% {
//         box-shadow: 0 0 0 0 var(--succ); 
//     }
//     50% {
//         box-shadow: 0 0 20px 1px rgba(16, 106, 55, 0); 
//     }
//     100% {
//         box-shadow: 0 0 0 0 var(--succ);
//     }
// }

.brdr-anim {
    animation: border-animate 3s infinite;
} 

@keyframes border-animate {
    0% {
        border-color: #106a37;
    }
    50% {
        border-color: #4eb151;
    }
    100% {
        border-color: #106a37;
    }
}