.butn {
    display: inline-block;
    padding: 2px 12px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 4px;   
}

.butn a {
    text-decoration: none;
    font-family: 'Anton', sans-serif;
    font-size: max(1.3vw, 1em);  
    

}

.butn:hover {
    transform: scale(1.1);
}

.butn-prim {
    background-image: linear-gradient(to bottom, var(--prim), var(--prim-dark2));
    color: white;
}

.butn-prim:hover {
    background-image: linear-gradient(to bottom, var(--prim-active), var(--prim-dark));
    color: black;
}

.butn-out-prim {
    background-color: black;
    border: 2px solid var(--prim-dark);
}






.butn-succ {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: white;
    border: 2px solid var(--succ);
}

.butn-out {
    background-color: transparent;
    transition-duration: 0.4s;
}
.butn-out-succ {
    background-color: transparent;
    color: var(--succ);
    border: 2px solid var(--succ);
}

.butn-out-succ:hover {
    background-image: linear-gradient(to bottom, var(--succ2), var(--succ3));
    color: var(--lum);
}

/* // .butn-anim {
//     animation: border-animate 2s infinite;
// } */



@keyframes border-animate {
    0% {
        border-color: #106a37;
    }
    50% {
        border-color: #0c8b3d;
    }
    100% {
        border-color: #106a37;
    }
}

.butn-anim {
    position: relative;
    animation: anim 2s ease-in-out infinite;
}

@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.butn-glow {
    position: relative;
    animation: glowSucc 2s ease-in-out infinite;
}

