:root {
    --prim: #337733;
    --prim-active: #4eb151;
    --prim-dark: #205121;
    --prim-dark2: #0d290d;
    --prim-light: #bce9bc;
    --succ: #337733; 
    --warn: #FFB400;
    --danger: #D90429;
    --soft:#999999;
    --blk: #000000;
    --drk1: #111111;
    --drk2: #222222;
    --drk3: #333333;
    --wht: #FFFFFF;
    --shadow-dark:rgba(0,0,0,0.5);
    .div {
        box-shadow: inset 0 0 10px var(--drk1); 
      }
    --shadow-light: rgba(255,255,255,0.5);
    --shadow-prim: rgba(var(--prim), 0.5);


    --sepia: darkbrown;

    --color-1: #ffffff;
    --color-2: #f2fbf2;
    --color-3: #e4f7e4;
    --color-4: #d7f2d7;
    --color-5: #caeded;
    --color-6: #bce9bc; 
    --color-7: #afe5af;
    --color-8: #4eb151;
    --color-9: #459d45;
    --color-10: #3c8a3c;
    --color-11: #337733;
    --color-12: #296429;
    --color-13: #205121;
    --color-14: #163d16;
    --color-15: #0d290d;
    --color-16: #000000;


}
// back ground color
.bk-blk {
    background-color: #000000;
}
.bk-drk1 {
    background-color: var(--drk1);
}
.bk-drk2 {
    background-color: var(--drk2);
}
.bk-drk3 {
    background-color: var(--drk3);
}
.bk-shdw-dark {
    background-color: var(--shadow-dark);
}
.bk-shdw-L {
    background-color: var(--shadow-W);
}
.bk-shdw-prim {
    background-color: var(--shadow-prim);
}

// text color
.txt-prim {
    color: var(--prim);
}
.txt-prim-active {
    color: var(--prim-active);
}
.txt-prim-dark {
    color: var(--prim-dark);
}
.txt-prim-light {
    color: var(--prim-light);
}
.txt-succ {
    color: var(--succ);
}
.txt-warn {
    color: var(--warn);
}
.txt-danger {
    color: var(--danger);
}
.txt-soft {
    color: var(--soft);
}
.txt-wht {
    color: var(--wht);
}
.txt-bld {
    font-weight: bold;
}
// border shadow
.brdr-shdw-D {
    box-shadow: var(--shadowD);
}
.brdr-shdw-L {
    box-shadow: var(--shadowW);
}
.brdr-shdw-S {
    box-shadow: var(--shadow-succ);
}

.shdw-in-D {
    box-shadow: inset 0 0 100px black ; 
  }

