.fluid {
    width: 100%;
    height: 100%;
}
.fluidx {
    width: 100%;
}
.fluidy {
    height: 100%;
}
.vh100 {
    height: 100vh;
}

.disp-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disp-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.disp-col-end-center {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.disp-col-start-center{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

