@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Anton', sans-serif;
    font-size: max(2.2vw, 1.3rem);
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: max(1.7vw, 1rem);
} 

h3 {
    font-family: 'Anton', sans-serif;
    font-size: max(1.8vw, 1.5rem);  
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: max(1.5vw, 1.5rem);  
}

p , li {
    font-size: max(1vw, 0.8rem);  
    font-family: 'Roboto', sans-serif;
}

.a1 {
    font-size: max(1.3vw, 1em);  
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: var(--prim);
}
.a1:hover {
    color: var(--prim-active);
}