.mobile__header {
    display:none
}

.mobile__header__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    // background-color: rgba(0,0,0,0.6);   
    border : 2px solid black;
    border-radius: 7px;
}
.mobile__header__title {
    padding: 5px 20px;
    // background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}
.main__header {
    width: 100%;
    // height: 100%;  
    // min-height: 100vh;  
}

.main__header__banner {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border : 2px solid black;
}

.main__header__logo {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 150px;
    height: 150px;            
    background-size: cover;
    background-position: center;

}
.main__header__present {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__header__present--content {
    width: 100%;
    border-radius: 7px;
    // background-color: rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .mobile__header {
        width: 100%;
        height: 100vh;    
        display:flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .mobile__header__menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        border : 2px solid black;
        border-radius: 10px;
        overflow: hidden;
    }


}  

