.modal__mobile__bk {
    display: none;
}

.modl {
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 768px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in;
}

.modl__content {
    width: 100%;  
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: inset 0 0 100px black;
    backdrop-filter: grayscale(100%);
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
}
// ------------------------------------------------------------
.modal {
    position: absolute;
    top: 0;
    right: 0;
    // width: 100%;
    // height: 100vh;
    max-width: 768px;

    background-color: transparent;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.modal-content {
    backdrop-filter: grayscale(100%);
    box-shadow: inset 0 0 100px black;
    // background-color: rgba(0,0,0,0.5);
    border: 2px solid black;
    border-radius: 7px;
    overflow: hidden;
    // background-color: rgba(0,0,0,0.5);
    background-color: transparent;
}

@media (max-width: 768px) {
    .modal__mobile__bk {
        width: 100%;
        height: 100%;
        display:block;
        background-size: cover;
        background-position: center;
    }
    .modl__content {
        background-color: rgba(0,0,0,0.5);
    }

}  