.header__nav, .footer__nav {
    width: 100%;
    padding: 10px;
}
.header__nav--list, .footer__nav--list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.up-down {
    height: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

nav ul {
    list-style-type: none; 
}
  
nav li {
    display: inline-block;
}
  
nav a {
    // display: block;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer__nav--list {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
} 
 