.section__major {
    width: 100%;
    height: 100%;
    min-height: 100vh;     
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section__major__grayLayer {
    width: 100%;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: grayscale(100%);
}
.section__major__heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-size: cover;
    background-position: center;
}
.section__major__title {
    padding: 10px 30px;
    // background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}
.section__major__content{
    width: 100%;
    background-color: rgba(0,0,0,0.5);   
    border : 2px solid black;
    border-radius: 7px;
}




